.manage-contract {
  .action-bar .ant-card-body {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .contract-sidebar li .gx-link {
    padding: 5px 15px;
  }

  .contract-item {
    display: flex;
    align-items: center;

    .contract-info {
      width: 100%;
      margin-left: 15px;
      display: flex;
      justify-content: space-between;

      p {
        margin: 5px 0 0;
      }

      .contract-progress {
        margin-top: 5px;
        display: flex;
        align-items: center;

        > div {
          width: 150px;
          margin-right: 10px;

          .ant-progress { margin: 0 }
        }
      }
    }
  }
}
