.manageRoom {
  .peopleIcon {
    color: gray;

    transition: .2s;

    &:hover, &:focus {
      color: #038fde;
    }
  }

  .priceIcon {
    color: lightgray;
    transition: .2s;

    &:hover, &:focus {
      color: #038fde;
    }
  }
}

.qv-price {
  div {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    span {
      &:nth-of-type(2) {
        color: black;
        font-weight: 400;
      }
    }
  }
}
