.pl-xs {
  padding-left: 5px; }

.pr-xs {
  padding-right: 5px; }

.px-xs {
  padding-left: 5px;
  padding-right: 5px; }

.pt-xs {
  padding-top: 5px; }

.pb-xs {
  padding-bottom: 5px; }

.py-xs {
  padding-top: 5px;
  padding-bottom: 5px; }

.pxy-xs {
  padding: 5px; }

.pl-sm {
  padding-left: 10px; }

.pr-sm {
  padding-right: 10px; }

.px-sm {
  padding-left: 10px;
  padding-right: 10px; }

.pt-sm {
  padding-top: 10px; }

.pb-sm {
  padding-bottom: 10px; }

.py-sm {
  padding-top: 10px;
  padding-bottom: 10px; }

.pxy-sm {
  padding: 10px; }

.pl-md {
  padding-left: 15px; }

.pr-md {
  padding-right: 15px; }

.px-md {
  padding-left: 15px;
  padding-right: 15px; }

.pt-md {
  padding-top: 15px; }

.pb-md {
  padding-bottom: 15px; }

.py-md {
  padding-top: 15px;
  padding-bottom: 15px; }

.pxy-md {
  padding: 15px; }

.pl-lg {
  padding-left: 20px; }

.pr-lg {
  padding-right: 20px; }

.px-lg {
  padding-left: 20px;
  padding-right: 20px; }

.pt-lg {
  padding-top: 20px; }

.pb-lg {
  padding-bottom: 20px; }

.py-lg {
  padding-top: 20px;
  padding-bottom: 20px; }

.pxy-lg {
  padding: 20px; }

.ml-xs {
  margin-left: 5px; }

.mr-xs {
  margin-right: 5px; }

.mx-xs {
  margin-left: 5px;
  margin-right: 5px; }

.mt-xs {
  margin-top: 5px; }

.mb-xs {
  margin-bottom: 5px; }

.my-xs {
  margin-top: 5px;
  margin-bottom: 5px; }

.mxy-xs {
  margin: 5px; }

.ml-sm {
  margin-left: 10px; }

.mr-sm {
  margin-right: 10px; }

.mx-sm {
  margin-left: 10px;
  margin-right: 10px; }

.mt-sm {
  margin-top: 10px; }

.mb-sm {
  margin-bottom: 10px; }

.my-sm {
  margin-top: 10px;
  margin-bottom: 10px; }

.mxy-sm {
  margin: 10px; }

.ml-md {
  margin-left: 15px; }

.mr-md {
  margin-right: 15px; }

.mx-md {
  margin-left: 15px;
  margin-right: 15px; }

.mt-md {
  margin-top: 15px; }

.mb-md {
  margin-bottom: 15px; }

.my-md {
  margin-top: 15px;
  margin-bottom: 15px; }

.mxy-md {
  margin: 15px; }

.ml-lg {
  margin-left: 20px; }

.mr-lg {
  margin-right: 20px; }

.mx-lg {
  margin-left: 20px;
  margin-right: 20px; }

.mt-lg {
  margin-top: 20px; }

.mb-lg {
  margin-bottom: 20px; }

.my-lg {
  margin-top: 20px;
  margin-bottom: 20px; }

.mxy-lg {
  margin: 20px; }

@keyframes fromTop {
  from {
    transform: translate(0, -100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fromTop {
  from {
    transform: translate(0, -100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-moz-keyframes fromTop {
  from {
    transform: translate(0, -100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes fromLeft {
  from {
    transform: translate(-100px, 0);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fromLeft {
  from {
    transform: translate(-100px, 0);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-moz-keyframes fromLeft {
  from {
    transform: translate(-100px, 0);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes fromBottom {
  from {
    transform: translate(0, 100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fromBottom {
  from {
    transform: translate(0, 100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-moz-keyframes fromBottom {
  from {
    transform: translate(0, 100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

.auth-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  .auth-bg > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%; }
    .auth-bg > div > .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Ubuntu", sans-serif; }
      .auth-bg > div > .content > h1 {
        text-align: center;
        color: #bababa;
        font-size: 40px;
        margin: 0 0 8px;
        animation-name: fromTop;
        animation-duration: 1.2s;
        animation-delay: 0.3s;
        animation-fill-mode: backwards; }
        .auth-bg > div > .content > h1:nth-of-type(2) {
          display: none; }
      .auth-bg > div > .content > h4 {
        margin: 20px 0 0;
        color: #939393;
        font-size: 15px;
        animation-name: fromTop;
        animation-duration: 1.2s;
        animation-delay: 0s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content > .notify {
        padding: 10px 35px;
        margin: 10px 20px -42px 20px;
        border-radius: 2px;
        background-color: #f31a1a3d;
        color: #bababa;
        font-size: 14px;
        font-weight: bold; }
      .auth-bg > div > .content > .great-notify {
        padding: 10px 35px;
        margin: 10px 20px -42px 20px;
        border-radius: 2px;
        background-color: #1df31a3d;
        color: #bababa;
        font-size: 14px;
        font-weight: bold; }
      .auth-bg > div > .content > form > .auth-input:nth-of-type(1) {
        animation-name: fromLeft;
        animation-duration: 1.2s;
        animation-delay: 0.6s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content > form > .auth-input:nth-of-type(2) {
        animation-name: fromLeft;
        animation-duration: 1.2s;
        animation-delay: 0.9s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content > form > .auth-input:nth-of-type(3) {
        animation-name: fromLeft;
        animation-duration: 1.2s;
        animation-delay: 1.2s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content button {
        animation-name: fromBottom;
        animation-duration: 1.2s;
        animation-delay: 1.2s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content > a {
        animation-name: fromBottom;
        animation-duration: 1.2s;
        animation-delay: 1.5s;
        animation-fill-mode: backwards; }
      @media (max-width: 479px) {
        .auth-bg > div > .content > h1 {
          font-size: 30px; }
          .auth-bg > div > .content > h1:nth-of-type(1) {
            display: none; }
          .auth-bg > div > .content > h1:nth-of-type(2) {
            display: initial; }
        .auth-bg > div > .content > a {
          display: none; }
        .auth-bg > div > .content > h4 {
          font-size: 14px; } }

.auth-credit {
  position: absolute;
  bottom: 10px;
  right: 40px;
  color: #878787; }
  .auth-credit p {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-bottom: 16px; }
    .auth-credit p:nth-of-type(2) {
      display: initial; }
    .auth-credit p:nth-of-type(1) {
      display: none; }
  .auth-credit i {
    padding-left: 5px;
    padding-right: 5px;
    color: #17a2b8; }
  @media (max-width: 479px) {
    .auth-credit {
      right: 0;
      text-align: center;
      width: 100%;
      margin-bottom: 15px; }
      .auth-credit p:nth-of-type(2) {
        display: none; }
      .auth-credit p:nth-of-type(1) {
        display: initial; } }

.auth-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px; }
  .auth-navbar > a {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: #d9d9d9;
    transition: .5s; }
    .auth-navbar > a:hover {
      color: white; }
  .auth-navbar > div {
    display: flex;
    align-items: center; }
    .auth-navbar > div > a {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: #d9d9d9;
      transition: .5s; }
      .auth-navbar > div > a:hover {
        color: white; }
      .auth-navbar > div > a > i {
        margin-right: 8px; }
      .auth-navbar > div > a:nth-of-type(1) {
        margin-right: 6px; }
      .auth-navbar > div > a:nth-of-type(2) {
        display: none; }
      @media (max-width: 479px) {
        .auth-navbar > div > a {
          background-color: #bbbbbb14;
          padding: 10px 13px;
          border-radius: 5px;
          font-size: 13px; }
          .auth-navbar > div > a > i {
            margin-right: 0;
            font-size: 12px; }
          .auth-navbar > div > a:nth-of-type(1) > span {
            display: none; }
          .auth-navbar > div > a:nth-of-type(2) {
            display: initial; } }
  @media (max-width: 479px) {
    .auth-navbar {
      padding: 30px 25px; }
      .auth-navbar > a {
        font-size: 20px; } }

.auth-input > i, .auth-input > input {
  padding: 7px 10px;
  background-color: #ffffff1a;
  line-height: 2;
  transition-duration: 0.5s;
  font-size: 14px; }

.auth-input {
  margin-bottom: 10px; }
  .auth-input > i {
    color: #edededa8;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition-duration: 0.5s; }
    .auth-input > i.focus {
      background-color: #ffffff30; }
  .auth-input > input {
    border: none;
    outline: none;
    width: 290px;
    color: #ffffffa8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 0; }
    .auth-input > input::placeholder {
      color: #edededa8;
      font-size: 14px; }
    .auth-input > input.focus {
      background-color: #ffffff30; }
    @media (max-width: 479px) {
      .auth-input > input {
        width: 270px; } }

.auth-form {
  margin-top: 60px; }
  .auth-form > button {
    outline: none;
    border: none;
    color: white;
    border-radius: 20px;
    width: 100%;
    padding: 4px 0;
    line-height: 2;
    margin-top: 40px;
    transition-duration: 0.3s;
    font-family: "Ubuntu", sans-serif; }
    .auth-form > button.signin {
      background-color: #952323;
      font-size: 16px; }
      .auth-form > button.signin:hover {
        background-color: #ca3030;
        cursor: pointer; }
    .auth-form > button.signup {
      background-color: #287f7f;
      font-size: 16px; }
      .auth-form > button.signup:hover {
        background-color: #319696;
        cursor: pointer; }
    @media (max-width: 479px) {
      .auth-form > button {
        margin-top: 30px; }
        .auth-form > button.signin {
          padding: 5px 0;
          font-size: 15px; } }
  .auth-form + a {
    color: gray;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-decoration: underline;
    font-size: 14px; }
    .auth-form + a:hover {
      color: white;
      text-decoration: underline; }

.delete-action > div {
  display: inline; }

.transfer {
  display: flex;
  align-items: center; }
  .transfer img {
    margin-right: 10px;
    width: 30px;
    border-radius: 5px; }

.manage-contract .action-bar .ant-card-body,
.manage-contract .back-bar .ant-card-body {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center; }

.manage-contract .back-bar .ant-card-body {
  background-color: #038fde;
  color: #fff;
  padding: 5px 15px; }

.manage-contract .contract-sidebar .gx-module-side-header {
  background-color: #f4f4f4; }

.manage-contract .contract-sidebar .section-wrapper {
  margin-top: 30px; }
  .manage-contract .contract-sidebar .section-wrapper > div {
    margin-bottom: 12px; }

.manage-contract .contract-sidebar li .gx-link {
  padding: 5px 15px; }

.manage-contract .contract-sidebar .gx-module-add-task {
  padding: 24px 0 0; }
  .manage-contract .contract-sidebar .gx-module-add-task > button {
    border-radius: 0 10px 0 10px;
    text-align: left;
    height: 45px;
    display: flex;
    align-items: center; }
    .manage-contract .contract-sidebar .gx-module-add-task > button .icon {
      margin-right: 10px;
      font-size: 17px; }

.manage-contract .action {
  padding: 10px 12px;
  color: #a8a8a8;
  border-radius: 3px;
  transition-duration: .2s;
  cursor: pointer; }
  .manage-contract .action:hover {
    color: #767676;
    background-color: #f0f0f0; }
  .manage-contract .action.check-box {
    font-size: 19px; }
  .manage-contract .action.back-contract {
    font-size: 19px;
    color: white; }
    .manage-contract .action.back-contract:hover {
      background-color: #ffffff29; }
  .manage-contract .action.reload {
    font-size: 17px;
    color: gray; }
  .manage-contract .action.remove {
    font-size: 17px;
    color: gray; }

.manage-contract .contract-item {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .manage-contract .contract-item .gx-icon-btn {
    min-width: 40px; }
  .manage-contract .contract-item .contract-info {
    width: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .manage-contract .contract-item .contract-info p {
      margin: 0;
      color: gray; }
    .manage-contract .contract-item .contract-info .contract-progress {
      margin-bottom: 10px;
      display: flex;
      align-items: center; }
      .manage-contract .contract-item .contract-info .contract-progress .progress-icon {
        line-height: 1;
        font-size: 18px;
        margin-right: 10px;
        margin-top: 4px;
        color: #aeaeae; }
        .manage-contract .contract-item .contract-info .contract-progress .progress-icon .ant-badge {
          margin-bottom: 0; }
      .manage-contract .contract-item .contract-info .contract-progress .progress-b {
        width: 200px;
        margin-right: 15px; }
        .manage-contract .contract-item .contract-info .contract-progress .progress-b .ant-progress {
          margin: 0; }
    .manage-contract .contract-item .contract-info > div:nth-of-type(2) {
      position: relative;
      width: 70px;
      height: 51px; }
      .manage-contract .contract-item .contract-info > div:nth-of-type(2) > span {
        right: 0;
        top: 6px;
        position: absolute;
        border: 1px solid white;
        box-shadow: 1px 1px 5px #0000006e;
        width: 38px;
        height: 38px; }

.user-cell {
  display: flex;
  align-items: center; }
  .user-cell img {
    width: 50px;
    height: 50px;
    border-radius: 55%;
    margin-right: 20px; }
  .user-cell p {
    margin-bottom: 5px;
    font-size: 15px; }

.accessing {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171C1D; }
  .accessing h1 {
    margin-top: 40px;
    color: white; }
  .accessing > div {
    margin-top: 10px;
    display: flex;
    align-items: center; }
    .accessing > div > i {
      font-size: 14px;
      margin-right: 10px;
      color: #bbbbbb; }
    .accessing > div > p {
      font-size: 14px;
      color: #bbbbbb;
      margin: 0; }

@keyframes ldio-c6fypqa07d-r {
  0%, 25%, 50%, 75%, 100% {
    animation-timing-function: cubic-bezier(0, 1, 0, 1); }
  0% {
    transform: scale(0.7) rotate(180deg); }
  25% {
    transform: scale(0.7) rotate(270deg); }
  50% {
    transform: scale(0.7) rotate(360deg); }
  75% {
    transform: scale(0.7) rotate(450deg); }
  100% {
    transform: scale(0.7) rotate(540deg); } }

@keyframes ldio-c6fypqa07d-z {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1); }
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.5); } }

@keyframes ldio-c6fypqa07d-p {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1); }
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes ldio-c6fypqa07d-c {
  0%, 25%, 50%, 75%, 100% {
    animation-timing-function: cubic-bezier(0, 1, 0, 1); }
  0% {
    background: #e15b64; }
  25% {
    background: #f47e60; }
  50% {
    background: #f8b26a; }
  75% {
    background: #abbd81; }
  100% {
    background: #e15b64; } }

.ldio-c6fypqa07d > div {
  animation: ldio-c6fypqa07d-r 4s linear infinite;
  transform-origin: 70px 70px; }

.ldio-c6fypqa07d > div > div {
  width: 140px;
  height: 140px;
  position: absolute;
  animation: ldio-c6fypqa07d-z 1s linear infinite;
  transform-origin: 140px 140px; }

.ldio-c6fypqa07d > div > div div {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #e15b64;
  transform-origin: 35px 35px; }

.ldio-c6fypqa07d > div > div div:nth-child(1) {
  left: 0px;
  top: 0px;
  animation: ldio-c6fypqa07d-p 1s linear infinite, ldio-c6fypqa07d-c 4s linear infinite; }

.ldio-c6fypqa07d > div > div div:nth-child(2) {
  left: 70px;
  top: 0px;
  animation: ldio-c6fypqa07d-p 1s linear infinite, ldio-c6fypqa07d-c 4s linear infinite; }

.ldio-c6fypqa07d > div > div div:nth-child(3) {
  left: 0px;
  top: 70px;
  animation: ldio-c6fypqa07d-p 1s linear infinite, ldio-c6fypqa07d-c 4s linear infinite; }

.ldio-c6fypqa07d > div > div div:nth-child(4) {
  left: 70px;
  top: 70px;
  transform: scale(1);
  animation: ldio-c6fypqa07d-c 4s linear infinite; }

.loadingio-spinner-chunk-bwwmz7ha2g8 {
  width: 140px;
  height: 140px;
  display: inline-block;
  overflow: hidden; }

.ldio-c6fypqa07d {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */ }

.ldio-c6fypqa07d div {
  box-sizing: content-box; }

.activate {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .activate h1 {
    color: #bababa;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 30px;
    font-size: 40px; }
  .activate hr {
    margin-top: 30px;
    width: 200px;
    border: 0.5px solid #939393; }
  .activate h3 {
    color: #939393;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 40px;
    line-height: 2; }
  .activate button {
    width: 230px;
    border-radius: 20px;
    color: #bababa;
    line-height: 2.5;
    font-family: "Ubuntu", sans-serif;
    background-color: #5d5d5d;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: .5s; }
    .activate button:hover {
      color: #e9e9e9;
      background-color: rgba(108, 108, 108, 0.7); }

.activating {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .activating > h1 {
    color: #bababa;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 50px;
    font-size: 40px; }
  .activating > i {
    color: #c5c5c5;
    font-size: 50px; }
