@keyframes fromTop {
  from {
    transform: translate(0, -100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fromTop {
  from {
    transform: translate(0, -100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-moz-keyframes fromTop {
  from {
    transform: translate(0, -100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes fromLeft {
  from {
    transform: translate(-100px, 0);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fromLeft {
  from {
    transform: translate(-100px, 0);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-moz-keyframes fromLeft {
  from {
    transform: translate(-100px, 0);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes fromBottom {
  from {
    transform: translate(0, 100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fromBottom {
  from {
    transform: translate(0, 100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@-moz-keyframes fromBottom {
  from {
    transform: translate(0, 100px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

.auth-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  .auth-bg > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%; }
    .auth-bg > div > .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Ubuntu", sans-serif; }
      .auth-bg > div > .content > h1 {
        margin: 0;
        text-align: center;
        color: #bababa;
        font-size: 40px;
        margin-bottom: 8px;
        animation-name: fromTop;
        animation-duration: 1.2s;
        animation-delay: 0.3s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content > h4 {
        margin: 0;
        margin-top: 20px;
        color: #939393;
        font-size: 15px;
        animation-name: fromTop;
        animation-duration: 1.2s;
        animation-delay: 0s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content > form > .auth-input:nth-of-type(1) {
        animation-name: fromLeft;
        animation-duration: 1.2s;
        animation-delay: 0.6s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content > form > .auth-input:nth-of-type(2) {
        animation-name: fromLeft;
        animation-duration: 1.2s;
        animation-delay: 0.9s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content > form > .auth-input:nth-of-type(3) {
        animation-name: fromLeft;
        animation-duration: 1.2s;
        animation-delay: 1.2s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content button {
        animation-name: fromBottom;
        animation-duration: 1.2s;
        animation-delay: 1.2s;
        animation-fill-mode: backwards; }
      .auth-bg > div > .content a {
        animation-name: fromBottom;
        animation-duration: 1.2s;
        animation-delay: 1.5s;
        animation-fill-mode: backwards; }
      @media (max-width: 479px) {
        .auth-bg > div > .content > h1 {
          font-size: 30px; }
        .auth-bg > div > .content > h4 {
          font-size: 14px; } }

.auth-credit {
  position: absolute;
  bottom: 10px;
  right: 40px;
  color: #878787; }
  .auth-credit p {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-bottom: 16px; }
  .auth-credit i {
    padding-left: 5px;
    padding-right: 5px;
    color: #17a2b8; }
  @media (max-width: 479px) {
    .auth-credit {
      right: 0px;
      text-align: center;
      width: 100%; } }

.auth-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px; }
  .auth-navbar > a {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: #d9d9d9;
    transition: .5s; }
    .auth-navbar > a:hover {
      color: white; }
  .auth-navbar > div {
    display: flex;
    align-items: center; }
    .auth-navbar > div > a {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: #d9d9d9;
      transition: .5s; }
      .auth-navbar > div > a:hover {
        color: white; }
      .auth-navbar > div > a > i {
        margin-right: 8px; }
      .auth-navbar > div > a:nth-of-type(1) {
        margin-right: 6px; }
      @media (max-width: 479px) {
        .auth-navbar > div > a {
          background-color: #bbbbbb14;
          padding: 10px 13px;
          border-radius: 5px;
          font-size: 13px; }
          .auth-navbar > div > a > i {
            margin-right: 0;
            font-size: 12px; } }
  @media (max-width: 479px) {
    .auth-navbar {
      padding: 30px;
      padding-left: 25px;
      padding-right: 25px; }
      .auth-navbar > a {
        font-size: 20px; } }

.auth-input > i, .auth-input > input {
  padding: 7px 10px;
  background-color: #ffffff1a;
  line-height: 2;
  transition-duration: 0.5s;
  font-size: 14px; }

.auth-input {
  margin-bottom: 10px; }
  .auth-input > i {
    color: #edededa8;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition-duration: 0.5s; }
    .auth-input > i.focus {
      background-color: #ffffff30; }
  .auth-input > input {
    border: none;
    outline: none;
    width: 290px;
    color: #ffffffa8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 0; }
    .auth-input > input::placeholder {
      color: #edededa8;
      font-size: 14px; }
    .auth-input > input.focus {
      background-color: #ffffff30; }
    @media (max-width: 479px) {
      .auth-input > input {
        width: 270px; } }

.auth-form {
  margin-top: 60px; }
  .auth-form > button {
    outline: none;
    border: none;
    color: white;
    border-radius: 20px;
    width: 100%;
    padding: 4px 0;
    line-height: 2;
    margin-top: 40px;
    transition-duration: 0.3s;
    font-family: "Ubuntu", sans-serif; }
    .auth-form > button.signin {
      background-color: #952323;
      font-size: 16px; }
      .auth-form > button.signin:hover {
        background-color: #ca3030;
        cursor: pointer; }
    .auth-form > button.signup {
      background-color: #287f7f;
      font-size: 16px; }
      .auth-form > button.signup:hover {
        background-color: #319696;
        cursor: pointer; }
    @media (max-width: 479px) {
      .auth-form > button {
        margin-top: 30px; }
        .auth-form > button.signin {
          padding: 5px 0;
          font-size: 15px; } }
  .auth-form + a {
    color: gray;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-decoration: underline;
    font-size: 14px; }
    .auth-form + a:hover {
      color: white;
      text-decoration: underline; }

.activate {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .activate h1 {
    color: #bababa;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 30px;
    font-size: 40px; }
  .activate hr {
    margin-top: 30px;
    width: 200px;
    border: 0.5px solid #939393; }
  .activate h3 {
    color: #939393;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 40px;
    line-height: 2; }
  .activate button {
    width: 230px;
    border-radius: 20px;
    color: #bababa;
    line-height: 2.5;
    font-family: "Ubuntu", sans-serif;
    background-color: #5d5d5d;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: .5s; }
    .activate button:hover {
      color: #e9e9e9;
      background-color: rgba(108, 108, 108, 0.7); }

.activating {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .activating > h1 {
    color: #bababa;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 50px;
    font-size: 40px; }
  .activating > i {
    color: #c5c5c5;
    font-size: 50px; }

.accessing {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171C1D; }
  .accessing h1 {
    margin-top: 40px;
    color: white; }
  .accessing > div {
    margin-top: 10px;
    display: flex;
    align-items: center; }
    .accessing > div > i {
      font-size: 14px;
      margin-right: 10px;
      color: #bbbbbb; }
    .accessing > div > p {
      font-size: 14px;
      color: #bbbbbb;
      margin: 0; }

@keyframes ldio-c6fypqa07d-r {
  0%, 25%, 50%, 75%, 100% {
    animation-timing-function: cubic-bezier(0, 1, 0, 1); }
  0% {
    transform: scale(0.7) rotate(180deg); }
  25% {
    transform: scale(0.7) rotate(270deg); }
  50% {
    transform: scale(0.7) rotate(360deg); }
  75% {
    transform: scale(0.7) rotate(450deg); }
  100% {
    transform: scale(0.7) rotate(540deg); } }

@keyframes ldio-c6fypqa07d-z {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1); }
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.5); } }

@keyframes ldio-c6fypqa07d-p {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1); }
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes ldio-c6fypqa07d-c {
  0%, 25%, 50%, 75%, 100% {
    animation-timing-function: cubic-bezier(0, 1, 0, 1); }
  0% {
    background: #e15b64; }
  25% {
    background: #f47e60; }
  50% {
    background: #f8b26a; }
  75% {
    background: #abbd81; }
  100% {
    background: #e15b64; } }

.ldio-c6fypqa07d > div {
  animation: ldio-c6fypqa07d-r 4s linear infinite;
  transform-origin: 70px 70px; }

.ldio-c6fypqa07d > div > div {
  width: 140px;
  height: 140px;
  position: absolute;
  animation: ldio-c6fypqa07d-z 1s linear infinite;
  transform-origin: 140px 140px; }

.ldio-c6fypqa07d > div > div div {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #e15b64;
  transform-origin: 35px 35px; }

.ldio-c6fypqa07d > div > div div:nth-child(1) {
  left: 0px;
  top: 0px;
  animation: ldio-c6fypqa07d-p 1s linear infinite, ldio-c6fypqa07d-c 4s linear infinite; }

.ldio-c6fypqa07d > div > div div:nth-child(2) {
  left: 70px;
  top: 0px;
  animation: ldio-c6fypqa07d-p 1s linear infinite, ldio-c6fypqa07d-c 4s linear infinite; }

.ldio-c6fypqa07d > div > div div:nth-child(3) {
  left: 0px;
  top: 70px;
  animation: ldio-c6fypqa07d-p 1s linear infinite, ldio-c6fypqa07d-c 4s linear infinite; }

.ldio-c6fypqa07d > div > div div:nth-child(4) {
  left: 70px;
  top: 70px;
  transform: scale(1);
  animation: ldio-c6fypqa07d-c 4s linear infinite; }

.loadingio-spinner-chunk-bwwmz7ha2g8 {
  width: 140px;
  height: 140px;
  display: inline-block;
  overflow: hidden; }

.ldio-c6fypqa07d {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */ }

.ldio-c6fypqa07d div {
  box-sizing: content-box; }
