$spaces: ('xs': 5px, 'sm': 10px, 'md': 15px, 'lg': 20px);
$typeList: ('p': 'padding', 'm': 'margin');

@mixin genSpace($type) {
  @each $name, $space in $spaces {
    .#{$type}l-#{$name} {
      #{map-get($typeList, $type)}-left: $space;
    }
    .#{$type}r-#{$name} {
      #{map-get($typeList, $type)}-right: $space;
    }
    .#{$type}x-#{$name} {
      #{map-get($typeList, $type)}-left: $space;
      #{map-get($typeList, $type)}-right: $space;
    }

    .#{$type}t-#{$name} {
      #{map-get($typeList, $type)}-top: $space;
    }
    .#{$type}b-#{$name} {
      #{map-get($typeList, $type)}-bottom: $space;
    }
    .#{$type}y-#{$name} {
      #{map-get($typeList, $type)}-top: $space;
      #{map-get($typeList, $type)}-bottom: $space;
    }

    .#{$type}xy-#{$name} {
      #{map-get($typeList, $type)}: $space;
    }
  }
}

@include genSpace('p');
@include genSpace('m');

.ant-pagination-prev > button,
.ant-pagination-next > button {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
