.auth-credit {
  position: absolute;
  bottom: 10px;
  right: 40px;
  color: #878787;

  p {
    font-family: $f-ubuntu;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-bottom: 16px;

    &:nth-of-type(2) { display: initial }
    &:nth-of-type(1) { display: none }
  }

  i {
    padding-left: 5px;
    padding-right: 5px;
    color: #17a2b8;
  }

  @include mobile {
    right: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;

    p {
      &:nth-of-type(2) { display: none }
      &:nth-of-type(1) { display: initial }
    }
  }
}
